* {
  box-sizing: border-box;
  text-align: : centered;
}
header {
	text-align: center;
	border-bottom: solid .3em #4aaaa5;
}




footer {
/*	background-image: url("../images/bgrnd.png");
	padding: 1em;
	border-top: solid .3em #4aaaa5;
	text-align: center;
	color: #fff;*/
}







