* {
  box-sizing: border-box;
  text-align: : centered;
}
header {
	text-align: center;
	border-bottom: solid .3em #4aaaa5;
	color: white;
	width: 100%;
}
body{
	text-align: center;
	background-color: black;
}
footer {
	clear:left;
	background-image: url("../images/bgrnd.png");
	padding: 1em;
	border-top: solid .3em #4aaaa5;
	text-align: center;
	color: #fff;
	font-family: "Arial";
	width: 100%;
	padding: 1.5em 0;
}
h2 {
	font-size: 1.5em;
	font-family: "Arial";
	font-weight: bold;
	margin: 5px 0;
	padding-left: 2em;
}
h3 {
	font-size: 1.0em;
	font-family: "Arial";
	font-weight: bold;
	padding: .3em 0;
}
/*div-content-area has two children, aside-left and aside-right*/
.div-content-area {
	text-align: left;
}
/*child of div-content-area*/
.aside-left {
	float: left;
	width: 70%;
	/*background: url("../images/vonbraun.jpg") no-repeat;*/
	background: url("../images/69-H-1096-2.jpg") no-repeat;"
	background-position: center top;
    background-size: cover;
	/*background-color:lightgreen;*/
}
/*child of div-content-area*/
.aside-right {
	float: right;
	width: 30%;
}

/* The below divs are all in the aside-left */
/* This is the order of all the aside-left divs top to bottom.*/
.div-top, .div-character, .div-enemies, .div-defender, .div-fight-stats {
	height:20%;
	width:100%;
	overflow: auto;
	color: black;
	border: solid .1em black;
}
/* aside-left 2nd div */
.div-character {
	/*background: #000022;*/
	height:200px;
}
/* aside-left 3rd div */
.div-enemies{
	height:200px;
}
/* aside-left 4th div */
.div-defender {
	height:200px;
}
/* aside-left 5th div */
.div-fight-stats {
	height:120px;
}
.p-attack-info-top, .p-attack-info-bottom {
	font-family: "Arial";
	font-weight: bold;
	background-color: white;
	margin: .5em 0 .5em 2em;
}
.button-attack {
	margin-left: 2em;
}
/* The below div is in the div-character */
.div-curly, .div-moe, .div-shemp, .div-larry, .div-curly-enemy, .div-moe-enemy, .div-shemp-enemy, .div-larry-enemy, .div-curly-defender, .div-moe-defender, .div-shemp-defender, .div-larry-defender {
	border: solid .2em blue;
	margin: .2em .2em;
	width:100px;
	height:150px;
	float:left;
	text-align: center;
	font-family: "Arial";
	font-weight: bold;
}
.div-curly, .div-moe, .div-shemp, .div-larry {
	background: white;
	color: blue;
}

.div-curly-enemy, .div-moe-enemy, .div-shemp-enemy, .div-larry-enemy {
	display:none;
	background: red;
}

.div-curly-defender, .div-moe-defender, .div-shemp-defender, .div-larry-defender {
	display:none;
	color: white;
	background: black;	
}

/* The below img corresponds to the above div: img-curly is in div-curly; */
.img-curly, .img-moe, .img-shemp, .img-larry {
	margin: auto;
	border: solid .1em #4aaaa5;
	width:80px;
	height:100px;
}
